.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(155, 74, 74);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
  word-break: keep-all;

}

/* this is for write text settings */
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select {
 /*  position: absolute;
  top: 80px;
  right: 50px;
  color: rgb(113, 130, 167);
 
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column; */
}

/* .cat {
  position: absolute;
  margin-top: 60px;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;} */

/* media queries  */

@media (max-width: 850px) {

  .write {
    width: 850px;
  }

  .writeSubmit {
    font-size: 25px;
    position: absolute;

  }

  .writeInput::placeholder {
    color: rgb(146, 76, 76);
    font-weight: 600;
  }

}

@media (max-width: 1050px){
  .writeFormGroup {
    margin-left: 60px;
    display: flex;
    align-items: center;
  }

  .select {
    font-size: 25px;
  }
}